.imgCat {
  min-width: 640px;
  margin-top: 20px;
  min-height: 770px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: content;
}
.item {
  height: 140px;
}
