.section {
  margin-left: 157px;

  position: absolute;
  top: 35px;
  left: 635px;
}
@media (max-width: 768px) {
  .section {
    margin-left: 0;

    top: 26px;
    left: 47px;
  }
}
.container {
  margin-top: 10px;
  padding: 20px;
  width: 640px;
  min-height: 740px;
  /* min-height: 580px; */
  background-color: #fff;
  border-radius: 20px;
}
.wrapper {
  display: flex;
  width: 680px;
  position: relative;
}

.input {
  width: 470px;
  height: 60px;
  border: none;
  border-radius: 20px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-right: 10px;
  font-size: 20px;
}

.list {
  display: flex;
}

.btn {
  padding: 0;
  margin: 0 10px 0 0;
  width: 60px;
  border-radius: 20px;
  height: 60px;
}

.buttonBack {
  position: relative;
  margin-top: 0;
  margin-right: 10px;
  width: 40px;
  border-radius: 10px;
  height: 40px;
  background-color: #fbe0dc;
}
.btnBreeds {
  margin-top: 0;
  margin-right: 10px;
  background-color: #ff868e;
  color: #fff;
  font-size: 20px;
  width: 143px;
  border-radius: 10px;
  height: 40px;
  margin-right: 291px;
}
.buttonFilter {
  margin-top: 0;
  margin-right: 10px;

  width: 40px;
  border-radius: 10px;
  height: 40px;
}

.cont {
  width: 650px;
  display: flex;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnUpload {
  margin-top: 0;
  margin-right: 10px;
  background-color: #fbe0dc;
  color: #ff868e;
  font-size: 12px;
  font-weight: 500;
  width: 143px;
  border-radius: 10px;

  padding: 12px 30px;
}
.btnUpload:hover {
  background-color: #ff868e90;
  color: #fff;
  .svgUpload {
    stroke: #fff;
  }
}
.svgUpload {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
