.section {
  padding: 20px;
}
@media (min-width: 768px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15px;
    margin-right: 33px;
  }
}

.container {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin-top: 10px;
  min-height: 633px;
}

@media (min-width: 768px) {
  .container {
    width: 640px;
    min-height: 740px;
  }
}

.wrapper {
  display: flex;
  width: 680px;
  position: relative;
}

.btnBreeds {
  margin-top: 0;

  background-color: #ff868e;
  color: #fff;
  font-size: 20px;
  width: 143px;
  border-radius: 10px;
  height: 40px;
}
@media (min-width: 768px) {
  .btnBreeds {
    margin-right: 291px;
  }
}

@media (min-width: 768px) {
  .cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnUpload {
  width: 100%;
  margin-top: 0;
  background-color: #fbe0dc;
  color: #ff868e;
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
  border-radius: 10px;

  padding: 12px 30px;
}

@media (min-width: 768px) {
  .btnUpload {
    margin-top: 0;
    width: 143px;
  }
}
.btnUpload:hover {
  background-color: #ff868e90;
  color: #fff;
  .svgUpload {
    stroke: #fff;
  }
}
.svgUpload {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
