.section {
  margin-left: 157px;
}
.wrapper {
  position: relative;
  display: flex;
  width: 680px;
}
.container {
  margin-top: 10px;
  padding: 20px;
  width: 640px;
  min-height: 1008px;
  background-color: #fff;
  border-radius: 20px;
}
.input {
  width: 470px;
  height: 60px;
  border: none;
  border-radius: 20px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-right: 10px;

  font-size: 20px;
}

.list {
  display: flex;
}

.btn {
  padding: 0;
  margin: 0 10px 0 0;
  width: 60px;
  border-radius: 20px;
  height: 60px;
}

.buttonBack {
  position: relative;
  margin-top: 0;
  margin-right: 10px;
  width: 40px;
  border-radius: 10px;
  height: 40px;
  background-color: #fbe0dc;
}
.btnBreeds {
  margin-top: 0;
  margin-right: 10px;
  background-color: #ff868e;
  color: #fff;
  font-size: 20px;
  width: 143px;
  border-radius: 10px;
  height: 40px;
}
.buttonFilter {
  margin-top: 0;
  margin-right: 10px;

  width: 40px;
  border-radius: 10px;
  height: 40px;
}
.select {
  margin-right: 10px;

  width: 226px;
  border-radius: 10px;
  height: 40px;
}
.selectLimit {
  margin-top: 0;
  margin-right: 10px;
  padding: 8px 10px;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 400;
  width: 101px;
  border-radius: 10px;
  height: 40px;
}

.cont {
  width: 650px;
  display: flex;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnSerch {
  width: 40px;
  height: 40px;
  background-color: #fbe0dc;
  border-radius: 10px;
  position: absolute;
  top: 11px;
  left: 408px;
}
