.section {
  margin-left: 157px;
  position: relative;
}
.container {
  margin-top: 10px;
  padding: 20px;
  width: 640px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
}

.cont {
  width: 220px;

  display: flex;
}

.btnBreeds {
  margin-top: 0;
  margin-right: 10px;
  background-color: #ff868e;
  color: #fff;
  font-size: 20px;
  width: 143px;
  border-radius: 10px;
  height: 40px;
}

.containerImgCat {
  position: relative;
  min-width: 647px;
  height: 744px;
  margin-top: 20px;
}

.votingImg {
  margin: auto;
  width: 640px;
  object-fit: cover;
  height: 360px;
}
