section {
  padding: 20px;
}
@media (min-width: 768px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15px;
    margin-right: 33px;
  }
}
.container {
  margin-top: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    width: 640px;
  }
}

.cont {
  width: 220px;

  display: flex;
}

.btnBreeds {
  margin-top: 0;
  margin-right: 10px;
  background-color: #ff868e;
  color: #fff;
  font-size: 20px;
  width: 143px;
  border-radius: 10px;
  height: 40px;
}

.containerImgCat {
  position: relative;
  margin-top: 20px;
}

.votingImg {
  margin: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  height: 250px;
}
@media (min-width: 375px) {
  .votingImg {
    height: 200px;
  }
}

@media (min-width: 425px) {
  .votingImg {
    height: 250px;
  }
}
@media (min-width: 768px) {
  .votingImg {
    height: 300px;
  }
}
.loader {
  justify-content: center;
  margin-top: 200px;
  margin-left: 300px;
  margin-bottom: 200px;
}
