.infoSection {
  position: relative;
  border: solid 2px rgba(251, 224, 220, 1);
  border-radius: 20px;

  margin-top: 51px;

  padding: 36px;
}

.wrapper {
  margin-bottom: 20px;
}

.title {
  padding: 5px 40px;
  font-size: 36px;
  font-weight: 500;
  background-color: #fff;
  position: absolute;
  top: -25px;
  left: 20px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* @media (min-width: 374px) {
  .title {
    left: 80px;
  }
} */
@media (min-width: 768px) {
  .title {
    left: 206px;
  }
}
.text {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #8c8c8c;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .wrapperInfo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.container {
  margin-right: 20px;
}
.desc {
  text-align: start;
  display: flex;
  flex-wrap: wrap;
}
.style {
  margin-bottom: 10px;
}

.list {
  text-align: start;
}
.item {
  margin-bottom: 10px;
}
.item:last-child {
  margin-bottom: 0;
}
