.wrapper {
  position: relative;
  display: flex;
  width: 680px;
}
.container {
  position: relative;
  top: -60px;
  left: -20px;
  padding: 20px;
  width: 640px;
  min-height: 580px;
  background-color: #fff;
  border-radius: 20px;
}

@media (max-width: 669px) {
  .container {
    min-height: 633px;
  }
}
@media (max-width: 378px) {
  .container {
    width: auto;
    min-height: 633px;
    top: -160px;
  }
}
.buttonBack {
  position: relative;
  margin-top: 0;
  margin-right: 10px;
  width: 40px;
  border-radius: 10px;
  height: 40px;
  background-color: #fbe0dc;
}
.svgback {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.btnBreeds {
  margin-top: 0;
  margin-right: 10px;
  background-color: #ff868e;
  color: #fff;
  font-size: 20px;
  width: 143px;
  border-radius: 10px;
  height: 40px;
}

.cont {
  width: 650px;
  display: flex;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerSwipertImg {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner {
  width: 640px;
  height: 360px;
  padding: 20px;
}
