.sectionHome {
  display: none;
}
@media (min-width: 1440px) {
  .sectionHome {
    display: flex;
    position: relative;
    margin-left: 20px;

    position: absolute;
    top: 35px;
    left: 635px;
  }
}

.wrap {
  z-index: 10;
}
.imgHome {
  width: 799px;
  height: 735px;
  position: absolute;
  left: 28px;
  top: -30px;
}

.containerGallry {
  background-color: #fbe0dc;
  min-width: 680px;
  min-height: 680px;
  margin: 0 0 0 137px;
  border-radius: 20px;
}
