.section {
  margin-left: 157px;
  position: relative;
}
.wrapper {
  position: relative;
  display: flex;
  width: 680px;
}
.container {
  margin-top: 10px;
  padding: 20px;
  width: 640px;
  background-color: #fff;
  border-radius: 20px;
}
.input {
  width: 470px;
  height: 60px;
  border: none;
  border-radius: 20px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-right: 10px;

  font-size: 20px;
}

.list {
  display: flex;
  /* width: 248px; */
}

.btn {
  padding: 0;
  margin: 0 10px 0 0;
  width: 60px;
  border-radius: 20px;
  height: 60px;
}

.buttonBack {
  margin-top: 0;
  margin-right: 10px;
  width: 40px;
  border-radius: 10px;
  height: 40px;
  background-color: #fbe0dc;
}
.btnBreeds {
  margin-top: 0;
  margin-right: 10px;
  background-color: #ff868e;
  color: #fff;
  font-size: 20px;
  width: 143px;
  border-radius: 10px;
  height: 40px;
}

.imgCat {
  min-width: 647px;
  height: 744px;
  margin-top: 20px;
}
.cont {
  width: 220px;

  display: flex;
}

.btnSerch {
  width: 40px;
  height: 40px;
  background-color: #fbe0dc;
  border-radius: 10px;
  position: absolute;
  top: 11px;
  left: 408px;
}
