/* .section {
  margin-left: 157px;
  position: absolute;
  top: 35px;
  left: 635px;
}
@media (max-width: 768px) {
  .section {
    margin-left: 0;
    top: 26px;
    left: 43px;
  }
}

@media (max-width: 669px) {
  .section {
    top: 20px;
    left: 11px;
    background-color: #e5e5e5;
  }
} */
/* .wrapper {
  position: relative;
  display: flex;
  width: 680px;
}
.container {
  margin-top: 10px;
  padding: 20px;
  width: 640px;
  min-height: 580px;

  background-color: #fff;
  border-radius: 20px;
}
@media (max-width: 669px) {
  .container {
    min-height: 633px;
  }
}
@media (max-width: 378px) {
  .container {
    width: auto;

    min-height: 633px;
  }
}
.cont {
  width: 660px;
  display: flex;
}
@media (max-width: 378px) {
  .cont {
    width: auto;
    display: block;
  }
} */
/* .input {
  width: 470px;
  height: 60px;
  border: none;
  border-radius: 20px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-right: 10px;

  font-size: 20px;
} */

.list {
  display: flex;
}

.btn {
  padding: 0;
  margin: 0 10px 0 0;
  width: 60px;
  border-radius: 20px;
  height: 60px;
}

.btnBreeds {
  margin-top: 0;
  margin-right: 10px;
  background-color: #ff868e;
  color: #fff;
  font-size: 20px;
  width: 143px;
  border-radius: 10px;
  height: 40px;
}

.select {
  margin-right: 10px;

  width: 226px;
  border-radius: 10px;
  height: 40px;
}

.selectLimit {
  outline: none;
  border: none;
  background-color: #f8f8f7;
  margin-top: 0;
  margin-right: 10px;
  padding: 8px 10px;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 400;
  width: 101px;
  border-radius: 10px;
  height: 40px;
}
@media (max-width: 377px) {
  .selectLimit {
    width: 100%;
  }
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnSerch {
  width: 40px;
  height: 40px;
  background-color: #fbe0dc;
  border-radius: 10px;
  position: absolute;
  top: 11px;
  left: 408px;
}
.section {
  padding: 20px;
}
@media (min-width: 768px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15px;
    margin-right: 33px;
  }
}

.wrapper {
  display: flex;
  width: 680px;
  position: relative;
}

.container {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin-top: 10px;
  min-height: 633px;
}

@media (min-width: 768px) {
  .container {
    width: 640px;
    min-height: 740px;
  }
}

@media (min-width: 768px) {
  .wrapperNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
