.list {
  display: flex;
}

.btn {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  padding: 0;
  margin: 0 10px 0 0;

  border-radius: 20px;
}
.btn:hover {
  background-color: #ff868e90;
  .svgSad {
    fill: #fff;
  }
  .svgSmile {
    fill: #fff;
  }
  .svgHeart {
    stroke: #fff;
  }
}

.svgSmile {
  width: 30px;
  height: 29px;
  fill: #ff868e;
}

.svgHeart {
  width: 30px;
  height: 24px;
  stroke: #ff868e;
  stroke-width: 3px;
  fill: #fff;
}
.svgSad {
  width: 30px;
  height: 29px;
  fill: #ff868e;
}
