.container {
  margin-top: 10px;
  padding: 20px;
  width: 640px;
  min-height: 1008px;
  background-color: #fff;
  border-radius: 20px;
}
@media (max-width: 669px) {
  .container {
    min-height: 633px;
  }
}
@media (max-width: 378px) {
  .container {
    width: auto;
    min-height: 633px;
  }
}
.btn {
  padding: 0;
  margin: 0 10px 0 0;
  width: 60px;
  border-radius: 20px;
  height: 60px;
}

.buttonBack {
  position: relative;
  margin-top: 0;
  margin-right: 10px;
  width: 40px;
  border-radius: 10px;
  height: 40px;
  background-color: #fbe0dc;
}
.btnBreeds {
  margin-top: 0;
  margin-right: 10px;
  background-color: #ff868e;
  color: #fff;
  font-size: 20px;
  width: 143px;
  border-radius: 10px;
  height: 40px;
}

.cont {
  width: 650px;
  display: flex;
}
@media (max-width: 378px) {
  .cont {
    width: auto;
  }
}
