:root {
  font-family: "Jost", sans-serif;
  background-color: #e5e5e5;

  padding: 0;
}
body {
  zoom: 100%;
  margin: auto;
  text-align: center;
}
@media (max-width: 377px) {
  body {
    zoom: 1;
  }
}

ul {
  list-style: none;
  padding: 0;
}
.text {
  margin: 0;
}
.title {
  margin: 0;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

button {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 12px;

  cursor: pointer;
  border: none;
}

.button:last-child {
  margin-right: 0;
}
svg {
  fill: #ff868e;
}
a {
  text-decoration: none;
  color: #ff868e;
}
.active {
  background-color: #ff868e;
  color: #fff;
  fill: #fff;
}
.active svg {
  fill: #fff;
}
