
.list {
  display: flex;
  list-style: none;
  padding: 0;
}
.item {
  margin-right: 16px;
}
.item:last-child {
  margin-right: 0;
}
.containerIm {
  width: 138px;
  height: 198px;
  background: #97eab9;
  border-radius: 20px;

}
.imagesCat {
  padding: 17px 10px;
  object-fit: contain;
  width: 117px;
  height: 163px;
}
.containerImTabl {
  width: 138px;
  height: 198px;
  background: #b4b7ff;
  border-radius: 20px;
}
.imagesTable {
  object-fit: contain;
  width: 100px;
  height: 125px;
  padding: 37px 19px;
}
.containerImPhone {
  width: 138px;
  height: 198px;
  background: #ffd280;
  border-radius: 20px;
}
.imagesPhone {
  object-fit: cover;
  padding: 5px 13px;
  width: 112px;
  height: 190px;
}

.buttons {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  width: 138px;
  height: 36px;
  color: #ff868e;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  background-color: #fff;
  align-items: center;
}

