.wraper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 4;
  text-align: center;
}
@media (min-width: 768px) {
  .wraper {
  }
}
.thumb {
  position: absolute;
  top: 50px;
  background-color: #e5e5e5;
}
@media (min-width: 1440px) {
  .thumb {
    position: static;
  }
}

.text {
  font-size: 30px;
  font-weight: 700px;
}
.images {
  width: 676px;
  height: 640px;
}
@media (min-width: 768px) {
  .images {
    width: 480px;
    height: 560px;
  }
}
@media (min-width: 1440px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
